<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Sign Up</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="sign-up-bar">
    <div class="auth-sign-up-bar">
    <h1 class="sign-up-title">Create a new account!</h1>
    <form class="sign-up-form" action="/auth/sign-up" method="POST">
      <label class="create-username" for="username">Username:</label>
      <input type="text" name="username" id="username" required />
      <label class="create-password" for="password">Password:</label>
      <input type="password" name="password" id="password" required />
      <label  class="confirm-password" for="confirmPassword">Confirm Password:</label>
      <input 
        type="password"
        name="confirmPassword"
        id="confirmPassword"
        required 
      />
      <button class="sign-up-button" type="submit">Sign up</button>
    </div>
  </div>
    </form>
</body>
</html>