<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Sign In</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="sign-in-bar">
    <div class="auth-bar">
    <h1 class="auth-title">Sign in</h1>
    <form class="auth-form" action="/auth/sign-in" method="POST">
      <div id="username">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required />
      </div>
      <div id="password">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />
      </div>
      <button id="sign-in-btn" type="submit">Sign in</button>
    </div>
  </div>
  </form>
</body>
</html>