<nav>
  <div class="navbar">
    <h1 id="nav-header">tellin'</h1>
    <div class="nav-links">
      <a href="/users">Explore tellin'</a>
      <% if (user) { %>
        <a href="/users/<%= user._id %>/posts">My Posts</a>
        <a href="/auth/sign-out">Sign Out</a>
      <% } else { %>
        <a class="authlink" href="/auth/sign-in">Sign In</a>
        <a href="/auth/sign-up">Sign Up</a>
      <% } %>
    </div>
  </div>
</nav>
