<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Item</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add New Recipes</h1>
    <div class="new-body">
        <form action="/users/<%= user._id %>/foods" method="POST">
            <label for="Name">Name</label>
            <input type="text" name="name" id="name" />

            <label for="Recipe">Recipe</label>
            <input type="text" name="recipe"   id="recipe" />

            <button type="submit">Post!</button>
        </form>
    </div>
</body>
</html>