<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>New Post</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1 class="new-form-title">New Post</h1>
    <div class="new-body">
        <form action="/users/<%= user._id %>/posts" method="POST" class="new-post-form">
            <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" required />
            </div>

            <div class="form-group">
            <label for="description">Description</label>
            <input type="text" name="description" id="description" />
            </div>

            <div class="form-group">
            <label for="image">Image (URL)</label>
            <input type="text" name="image" id="image" />
            </div>

            <button type="submit" class="btn-submit">Post!</button>
        </form>
    </div>
</body>
</html>